@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
body{
    background-color: #DFDCD3;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Serif', serif;
    letter-spacing: 0em;
}
p{
    font-size: 14px;
    font-weight: 400;
    word-spacing: normal;
    letter-spacing: 0.2em;
}
.accentbtn{
    background: transparent;
    border:1px solid white;
    padding: 15px 20px;
    color: white;
}
.accentbtn:hover{
    background: #477253;
    border:none;
    color: white;
}
.accentGreenbtn{
    background: transparent;
    border:1px solid #477253;
    padding: 15px 20px;
    color: #477253;
}
.accentGreenbtn:hover{
    background: #477253;
    border:none;
    color: white;
}
.btnAccentColor{
    background: #477253;
    padding: 15px 20px;
    color: white;
}
.btnAccentColor:hover{
    background: transparent;
    border:1px solid #477253;
    color: #477253;
}
.leftMarginHero{
    margin-left: 90px;
}
.heroSectionSpan{
    font-family: 'Mr De Haviland', cursive;
}