@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Serif', serif;
    letter-spacing: 0em;
}
p{
    font-size: 14px;
    font-weight: 400;
    word-spacing: normal;
}
.accentbtn{
    background: transparent;
    border:1px solid white;
    padding: 15px 20px;
    color: white;
}
.accentbtn:hover{
    background: #477253;
    border:none;
    color: white;
}
.accentGreenbtn{
    background: transparent;
    border:1px solid #477253;
    padding: 15px 20px;
    color: #477253;
}
.accentGreenbtn:hover{
    background: #477253;
    border:none;
    color: white;
}
.btnAccentColor{
    background: #477253;
    padding: 15px 20px;
    color: white;
}
.btnAccentColor:hover{
    background: transparent;
    border:1px solid #477253;
    color: #477253;
}
.leftMarginHero{
    margin-left: 90px;
}
.heroSectionSpan{
    font-family: 'Mr De Haviland', cursive;
}

.videoBg div	video{
    background-size: cover !important;
    object-fit: cover !important;
    transition: opacity 0.5s ease-in-out; /* Customize the transition effect */
    opacity: 1;
  }
  .videoBg div video :not(.react-player__video) {
    opacity: 0;
  }
  

  .gridParagraph{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* or 171% */
  
  letter-spacing: 0.1em;
  }
  .gridButton{
    padding: 5px 36px;
    background-color: #EBAF82;
    color: white;
    margin: 15px 0px;
  }
  .griditHeading{
  font-style: italic;
  }